/* Styles for the blog entries part of the website. */
.darkMode {
    background-color: rgb(29, 28, 28);

}

/* A separate header element is used here as the heading is slightly different with buttons. */
header {
    display: flex;
    justify-content: center;
    border-bottom: black 4px solid;
  }
  
  /* A button container is used to ensure the buttons position correctly in the website's header. */
  .button-container {
    display: flex;
    align-items: center;
    padding-right: 3.5em;
    font-size: 3em;
    }
  
  /* Below are the styles for the actual blog entries that are added as appended list 
  and paragraph elements within an unordered list via Javascript. */
    #blog-container {
      padding: 2em;
      padding-bottom: 4em;
    }
  
  ul {
    border: 4px black solid;
    padding: 1em;
    margin: 1em 0;
  }
  
  li {
    list-style-type: none;
    font-weight: bold;
  }
  
  ul p {
    margin: 0.5em;
    padding-bottom: 0.5em;
    font-style: italic;
  }
  